:root {
  --main-color: lightblue;
  --secondary-color: lightskyblue;
  --main-text-color: blue;
  --secondary-text-color: lightseagreen;
  --main-font-style: Calibri;
}

.App {
  text-align: center;
  display: flex;
  width: 90%;
  flex-direction: column;
  margin: 20px auto 20px auto;
  border: 5px solid var(--main-color);
  background-color: whitesmoke;
}

.header {
  color: white;
  font-family: var(--main-font-style);
  text-shadow: 2px 2px 4px #000000;
}

.footer {
  color: var(--main-text-color);
  font-family: var(--main-font-style);
  margin: 5px;
}

.todo-wrapper {
  text-align: left;
  cursor: pointer;
  margin-bottom: 18px;
  border-bottom: 1px solid var(--secondary-color);
}

.btn {
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  background-color: transparent;
  padding: 8px;
}

.btn-submit {
  color: var(--main-color);
  border-color: var(--main-color);
}

.btn-submit:hover {
  border-width: 3px;
  color: var(--secondary-color);
  font-weight: bold;
}

.btn-remove {
  /* top 10px right 20px bottom 5px left 15px */
  margin: 10px 20px 5px 15px;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-remove:hover {
  border-color: var(--secondary-text-color);
}

.filter {
  cursor: pointer;
 }

li {
  list-style: none;
}

li:hover {
  background-color: white;
}

input {
  width: 50%;
  border: none;
  padding: 8px 2px;
  margin: 8px;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

input:focus {
  outline: none;
  border: none;
  border-top: 3px solid var(--main-color);
  border-bottom: 3px solid var(--main-color);
}